<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../components/head.ejs") %>
  <meta name="description" content="Explore MPC Lab, an open-source platform that generates 100% random questions in mathematics, physics, and chemistry. Fully customizable, ideal for classrooms, homework, and printable quizzes.">
  <title>MPC Lab | Home</title>
</head>

<body>
  <%- include("../components/header.ejs") %>
</body>

</html>