<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../../components/head.ejs") %>
  <title>MPC Lab | Add Admin</title>
</head>

<body>
  <%- include("../../components/classroom-sidebar.ejs"), { classId } %>
  <main class="sm:ml-64 p-6">
    <h1 class="text-2xl font-semibold mb-6">Add Admin</h1>

    <div class="bg-background-50 shadow-md rounded-lg p-6 max-w-lg">
      <h2 class="text-xl font-bold mb-4 text-primary-500">Admin Details</h2>

      <p class="text-sm text-gray-600 mb-4">
        Please ensure the administrator has registered an account before inviting them.
      </p>

      <div class="mb-4">
        <label for="admin-username" class="block text-sm font-medium text-text">Username</label>
        <input type="text" id="admin-username" placeholder="Enter admin username" class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-primary-500 focus:border-primary-500" />
      </div>

      <button id="add-admin" class="bg-primary-500 text-white px-4 py-2 rounded hover:bg-primary-400 transition-colors duration-200">Add Admin</button>
    </div>
  </main>
</body>

</html>