<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../../components/head.ejs") %>
  <title>MPC Lab | Classroom</title>
</head>

<body>
  <%- include("../../components/classroom-sidebar.ejs"), { classId } %>
</body>

</html>