<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../../components/head.ejs") %>
  <title>MPC Lab | Edit Task</title>
</head>

<body>
  <%- include("../../components/classroom-sidebar.ejs", { classId }) %>
  <main class="sm:ml-64 p-6">
    <h1 class="text-3xl font-semibold mb-6">Edit Task</h1>

    <div class="mt-8 p-6 bg-background-50 shadow-md rounded-lg">
      <h2 class="text-xl font-bold mb-4">Task Settings</h2>

      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700">Task Name</label>
        <input id="task-name" type="text" class="p-3 border border-gray-300 rounded-md w-full mt-1" placeholder="Enter task name" />
        <button id="save-task-name" class="mt-2 bg-primary-500 text-white px-4 py-2 rounded hover:bg-primary-400 transition duration-200">Save Task Name</button>
      </div>

      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700">Task Description</label>
        <textarea id="task-description" class="p-3 border border-gray-300 rounded-md w-full mt-1" placeholder="Enter task description"></textarea>
        <button id="save-task-description" class="mt-2 bg-primary-500 text-white px-4 py-2 rounded hover:bg-primary-400 transition duration-200">Save Task Description</button>
      </div>

      <button id="delete-task" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-500 transition duration-200">Delete Task</button>
    </div>
  </main>
</body>

</html>