<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../../components/head.ejs") %>
  <script src="/js/class.js"></script>
  <title>MPC Lab | Students</title>
</head>

<body>
  <%- include("../../components/classroom-sidebar.ejs"), { classId } %>
  <main class="sm:ml-64 p-6">
    <h1 class="text-2xl font-semibold mb-6">Student List</h1>

    <div class="overflow-x-auto bg-background-50 shadow-md rounded-lg">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Student ID</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody id="students-table" class="bg-background-50 divide-y divide-gray-200">
          <tr class="border-b">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700" colspan="3">No students found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  <script>
    const classroom = new Classroom(app);

    classroom.getClass("<%= classId %>").then((response) => {
      if (response.status === "success") {
        const classroom = response.data;
        const students = classroom.students;
        const studentsTable = document.getElementById("students-table");
        if (students.length > 0) {
          studentsTable.innerHTML = "";
        }
        students.forEach((student) => {
          const studentRow = document.createElement("tr");
          studentRow.innerHTML = `
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">${student.studentNumber}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">${student.name}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
              <button class="bg-primary-500 text-white px-2 py-1 rounded hover:bg-primary-400 transition-colors duration-200">Edit</button>
              <button class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-400 transition-colors duration-200 ml-2">Delete</button>
            </td>
          `;
          studentsTable.appendChild(studentRow);
        });
      }
    });
  </script>
</body>

</html>