<div id="problems" class="space-y-8">
  <div id="no-student-selected" class="flex flex-col items-center justify-center space-y-4">
    <h2 class="text-2xl font-semibold">No student selected</h2>
    <p>Select a student from the list to view their problems</p>
  </div>
</div>
<script src="/js/components/problems.js"></script>